.advantages {
  background-color: #ffffff;
  background-image: url(../img/triangle-mask.svg);
  background-repeat: no-repeat;
  background-position: center top -28px;
}

.advantages__container {
  padding: 112px 50px 20px;

  display: flex;
  flex-wrap: wrap;
}

.advantages__container--about {
  padding: 20px 50px 109px;
}

.advantages__card {
  margin-bottom: 30px;
  padding: 95px 40px 65px 44px;
  position: relative;

  min-height: 299px;

  flex: 0 0 48.5%;

  border: 1px solid #ebebeb;
  border-left: 2px solid $main-blue-color;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left 45px top 41px;

  &:nth-child(odd) {
    margin-right: 28px;
  }

  &:hover {
    color: #ffffff;
    background-color: $main-blue-color;
  }

  &:hover .advantages__sub-heading {
    color: #ffffff;
  }

  &:hover .advantages__icon {
    stroke: #ffffff;
  }

}

.advantages__icon {
  position: absolute;
  top: 13.2%;
  left: 8%;
}

.advantages__card--about {
  border: none;
  flex-basis: 100%;
  padding: 35px 10px 0 183px;
  position: relative;

  background-color: transparent;

  &::before {
    content: "";

    position: absolute;
    width: 220px;
    height: 317px;

    bottom: -15px;
    left: -27px;

    background-color: transparent;
    background-image: url(../img/2005.png);
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/2005-2x.png);
      background-size: contain;
    }
  }
}

.advantages__sub-heading {
  @include reset;
  margin-bottom: 16px;
  color: $main-blue-color;
  font-family: $secondary-fonts;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.advantages__sub-heading--about {
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 51px;
  color: $main-color-text;
}

.advantages__text {
  @include reset;
  font-size: 16px;
  line-height: 22px;
}

.advantages__text--about {
  margin-bottom: 23px;
}

.advantages__text--dots {
  margin-bottom: 39px;
}

.advantages__button {
  padding: 13px 49px 14px;
}

@media (max-width: $desktop-width) {
  .advantages {
    padding-top: 54px;
    padding-bottom: 40px;

    background-position: right 70% top 35%;
  }

  .advantages__container {
    padding: 0 25px;
  }

  .advantages__card {
    padding: 66px 20px 19px 25px;
    margin-bottom: 29px;
    flex-basis: 48%;
    min-height: 232px;

    background-position: left 23px top 23px;
  }

  .advantages__sub-heading {
    margin-bottom: 10px;
  }

  .advantages__card--about {
    padding: 26px 10px 40px 187px;

    &::before {
      width: 251px;
      height: 351px;

      background-size: 100%;

      top: 27px;
      left: -32px;
    }
  }

  .advantages__sub-heading--about {
    margin-bottom: 29px;
    font-size: 32px;
    line-height: 41px;
  }

  .advantages__text--dots {
    position: relative;
    max-height: 88px;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .advantages__button {
    margin-top: 0;
    padding-bottom: 15px;
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    padding: 36px 0 65px 0;
  }

  .advantages__container {
    padding: 0 15px;
  }

  .advantages__card {
    padding: 72px 10px 22px 25px;
    margin-right: 0;
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  .advantages__card:nth-child(odd) {
    margin-right: 0;
  }

  .advantages__sub-heading {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }

  .advantages__card--about {
    padding: 0 0 0 0;

    &::before {
      width: 0;
    }
  }

  .advantages__sub-heading--about {
    padding-top: 38px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 39px;
  }

  .advantages__text--about {
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  .advantages__text--dots {
    margin-bottom: 28px;
    max-height: 176px;
  }

}

@media(min-width: 1400px) {
  .advantages__container,
  .advantages__container--about {
    padding-left: 221px;
    padding-right: 200px;
  }
}
