.feedback {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: $main-blue-color;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback__heading {
  @include reset;

  margin-right: 146px;
  margin-bottom: 9px;

  font-family: $secondary-fonts;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.feedback__text {
  @include reset;
  margin-right: 370px;
  margin-bottom: 52px;

  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}


.feedback__list {
  @include reset-list;
  margin-right: 117px;

  max-width: 570px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback__item {
  margin-bottom: 43px;
  flex: 0 0 47.5%;
}

.feedback__item--textarea {
  flex: 0 0 100%;
}

.feedback__textarea {
  padding: 12px 17px 16px;

  width: 100%;

  color: #ffffff;
  border: none;
  background-color: rgba(255,255,255,0.2);
}

.feedback__input {
  padding: 14px 17px 16px;

  width: 100%;
  color: #ffffff;
  border: none;
  background-color: rgba(255,255,255,0.2);
}

.feedback__input::placeholder,
.feedback__textarea::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.feedback__button {
  width: 100%;
  padding: 14px 0;
}

.feedback__item--checkbox {
  position: relative;
  padding: 6px 10px 6px 40px;
}

.feedback__checkbox {
  position: absolute;
  left: -999999px;
}

.feedback__checkbox-label {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.feedback__checkbox-indicator {
  position: absolute;

  width: 16px;
  height: 16px;

  top: 9px;
  left: 9px;

  background-image: url(../img/checkbox-empty.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__checkbox:checked + .feedback__checkbox-indicator {
  background-image: url("../img/checkbox-checked.svg");
}

@media(max-width: $desktop-width) {
  .feedback {
    padding: 0;
  }

  .feedback__wrapper {
    padding: 77px 87px 61px 94px;
    align-items: flex-start;

    background-image: none;
  }

  .feedback__heading {
    margin: 0 0 15px -5px;

    font-size: 32px;
    line-height: 48px;
  }

  .feedback__text {
    margin: 0 0 55px 0;
  }

  .feedback__list {
    margin-right: 0;

    max-width: 100%;
  }

  .feedback__item--textarea {
    margin-bottom: 46px;
  }
}

@media(max-width: $tablet-width) {
  .feedback__wrapper {
    padding: 29px 15px 11px;
  }

  .feedback__heading {
    margin-left: 0;
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 40px;
  }

  .feedback__text {
    margin-bottom: 23px;
  }

  .feedback__item {
    margin-bottom: 30px;
    flex: 0 0 100%;
  }

  .feedback__item--textarea {
    margin-bottom: 26px;
  }

  .feedback__textarea {
    height: 104px;
  }

  .feedback__input {
    padding: 16px 17px 18px;
  }

  .feedback__item--checkbox {
    padding: 0 18px 0 34px;
  }

  .feedback__checkbox-indicator {
    top: 3px;
    left: 0;
  }
}

@media(min-width: 1100px) {
  .feedback__wrapper {
    background-image: url(../img/paper-airplane-1x.png), url(../img/triangle-double.svg);
    background-repeat: no-repeat;
    background-position: left center, left -25% top -50px;
    background-size: 30%, 50%;
  }
}

@media(min-width: 1200px) {
  .feedback__wrapper {
  background-size: 33%, 45%;
  }
}

@media(min-width: 1300px) {
  .feedback__wrapper {
  background-size: 38%, 48%;
  }
}

@media(min-width: 1400px) {
  .feedback__wrapper {
  background-size: 40%;
  background-position: left 3% top 30%, left top -50px;
  }
}

@media(min-width: 1500px) {
  .feedback__wrapper {
    background-size: auto;
    background-position: left 18% top 68px, left 2% top -150px;
  }
}

