.hero {
  padding: 230px 15px 70px;
  position: relative;
  background-color: $main-color-background;
  background-image: url(../img/plates-mobile.png);
  background-repeat: no-repeat;
  background-position: center top 35px;
}

.hero__heading {
  @include reset;

  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: #ffffff;

  text-transform: uppercase;
}

.hero__description {

}

