.hero {
  position: relative;

  &::after {
    content: "";
    z-index: -2;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 880px;

    background-color: $main-color-background;
    background-image: url(../img/bcg-mask-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero__wrapper {
  padding: 218px 98px 275px;
  position: relative;
  background-color: transparent;
  background-image: url(../img/plates-1x.png), url(../img/triangle-double.svg);
  background-repeat: no-repeat;
  background-position: left 99% top 160px, left 95% top 20px;
}


@media(max-width: 1400px) {
  .hero__wrapper {
    background-size: 40%;
  }
}

.hero__heading {
  @include reset;
  margin-bottom: 27px;

  font-family: $secondary-fonts;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 5.5px;
  color: #ffffff;

  text-transform: uppercase;
}

.hero__description {
  @include reset;

  position: relative;
  margin-bottom: 43px;
  padding: 0 42% 0 97px;

  font-family: $main-fonts;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;

  color: #FFFFFF;

  &::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 5px;

    width: 66px;
    height: 2px;

    background-color: #ffffff;
  }

}

.hero__link {
  margin-left: 95px;
  padding: 18px 43px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #FFFFFF;

  background-color: $main-blue-color;
}

.hero__anchor-link {
  position: absolute;

  bottom: 128px;
  left: 60px;

  font-size: 14px;
  line-height: 16px;

  transform: rotate(-90deg);
}

@media (max-width: $desktop-width) {
  .hero {
    &::after {
      height: 710px;
    }
  }
  .hero__wrapper {
    padding: 113px 190px 162px 90px;

    background-position: right -65% top 14%, right -85% top -111%;
    background-size: 60%, 69%;
  }

  .hero__heading {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 3.5px;
  }

  .hero__description {
    padding: 0;
    padding-left: 48px;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 28px;

    &::before {

      top: 17px;
      left: 2px;

      width: 32px;
      height: 2px;

    }
  }

  .hero__link {
    margin-left: 50px;
    padding-left: 30px;
    padding-right: 30px;

    letter-spacing: 0.9px;

    text-align: center;
  }

  .hero__anchor-link {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .hero {
    &::after {
      height: 700px;
    }
  }

  .hero__wrapper {
    padding: 215px 15px 70px;

    background-position: center top 7%, top;
    background-size: 100%, 0%;
  }
  .hero__heading {
    margin-bottom: 25px;

    font-size: 40px;
    line-height: 47px;
    letter-spacing: 3.5px;
  }

  .hero__description {
    padding-left: 50px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 26px;
  }

  .hero__link {
    margin-left: 0;

    width: 100%;
    height: 55px;

    background-image: url(../img/free-consulting.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__link span {
    display: none;
  }
}
