.proposals {
  background-color: $main-color-background;
}

.proposals__wrapper {
  padding: 90px 50px 120px;
}

.proposals__heading {
  @include reset;
  margin-bottom: 52px;

  font-family: $secondary-fonts;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.proposals__list {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.proposals__card {
  margin-bottom: 20px;
  flex: 0 0 370px;

  position: relative;

  width: 100%;
  padding: 50px 160px 510px 44px;

  font-family: $secondary-fonts;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;

  &::after {
    content: ">";

    position: absolute;
    width: 63px;
    height: 63px;

    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $main-blue-color;
  }
}

.proposals__card--production {
  background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/production-1x.jpg);
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/production-2x.jpg);
    background-size: cover;
  }
}
.proposals__card--installing {
  background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/installing-1x.jpg);
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/installing-2x.jpg);
    background-size: cover;
  }
}
.proposals__card--equipment {
  background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/equipments-1x.jpg);
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/equipments-2x.jpg);
    background-size: cover;
  }
}

@media (max-width: $desktop-width) {
  .proposals {
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .proposals__wrapper {
    padding: 0 27px 0 25px;
  }

  .proposals__heading {
    margin-bottom: 43px;
    padding-right: 90px;
    font-size: 32px;
    line-height: 48px;
  }

  .proposals__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .proposals__item {
    margin-bottom: 45px;
    flex: 0 0 100%;
  }

  .proposals__card {
    padding: 40px 480px 156px 45px;

    background-size: cover;
  }

  .proposals__card--production {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/production-tablet-1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/production-tablet-2x.jpg);
      background-size: cover;
    }
  }
  .proposals__card--installing {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/installing-tablet-1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/installing-tablet-2x.jpg);
      background-size: cover;
    }
  }
  .proposals__card--equipment {
    padding-top: 50px;
    padding-right: 500px;
    padding-bottom: 147px;
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/equipments-tablet-1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/equipments-tablet-2x.jpg);
      background-size: cover;
    }
  }
}

@media(max-width: $tablet-width) {

  .proposals__wrapper {
    padding: 0 15px;
  }

  .proposals__heading {
    padding: 0 0 0 10px;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 39px;
  }

  .proposals__item {
    margin-bottom: 30px;
  }

  .proposals__card {
    padding: 21px 63px 173px 35px;
    min-width: 290px;
    min-height: 256px;
  }

  .proposals__card--production {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/production-mobile-1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/production-mobile-2x.jpg);
      background-size: cover;
    }
  }
  .proposals__card--installing {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/installing-mobile-1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/installing-mobile-2x.jpg);
      background-size: cover;
    }
  }
  .proposals__card--equipment {
    background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/equipments-mobile-1x.jpg);
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(27,45,55,0.8), rgba(27,45,55,0.8)), url(../img/equipments-mobile-2x.jpg);
      background-size: cover;
    }
  }
}

@media(min-width: 1400px) {
  .proposals__wrapper {
    padding-left: 222px;
    padding-right: 200px;
  }

  .proposals__list {
    max-width: 1170px;
    justify-content: flex-start;
  }

  .proposals__card {
    margin-bottom: 10px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
