.site-header {
  position: relative;

  &::after {
    content: "";
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $main-color-background;
    background-image: url(../img/bcg-mask-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.site-header__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-header__logo {
  padding: 0 10px;
  margin-right: 7.5%;
}

.site-header__link {
  padding: 15px 22px 15px 28px;
  margin-right: 29px;
  color: #ffffff;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.site-header__link-text {
  white-space: nowrap;
}

.site-header__icon {
  margin-right: 20px;
}

.site-header__button {
  padding: 14px 25px 15px 28px;
  color: #ffffff;
  white-space: nowrap;
}


.site-header__menu {
  position: relative;
  width: 37px;
  height: 19px;
  margin-right: auto;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    width: 37px;
    height: 1px;

    top: 8px;
    left: 0;

    background-color: #ffffff;
  }

  &::after {
    content: "";

    position: absolute;
    width: 37px;
    height: 1px;

    top: 20px;
    left: 0;

    background-color: #ffffff;
  }
}

@media (max-width: $desktop-width) {

  .site-header__wrapper {
    padding: 10px 12.5px 5px;
  }
  .site-header__logo {
    padding-top: 10px;
    width: 222px;
    margin-right: auto;
  }

  .site-header__link {
    display: inline-block;
    vertical-align: middle;

    margin-right: 0px;
    padding: 20px 15px 15px;
  }

  .site-header__link--phone {
    margin-right: 0;
  }

  .site-header__icon{
    margin: 0;
    width: 25px;
    height: 25px;
  }

  .site-header__link-text {
    display: none;
  }

  .site-header__button {
    display: none;
  }

  .site-header__menu {
    margin-right: 18px;
    padding: 30px 20px;

    width: 5px;
    height: 5px;

    &::before {

      top: 24px;
      left: 0;
    }

    &::after {

      top: 36px;
      left: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .site-header__wrapper {
    padding: 4px 9px 4px 13px;
  }

  .site-header__logo {
    padding: 5px;
    width: 48px;
    height: 48px;
  }

  .site-header__link {
    padding: 18px 10px 15px;
  }

  .site-header__menu {
    padding: 30px 30px;
    margin-right: 0;

    &::before {
      top: 21px;
      left: 3px;
    }

    &::after {
      top: 33px;
      left: 3px;
    }
  }

  .site-header__icon {
    width: 24px;
    height: 24px;
  }


}
