//Template Colors
//Можно добавлять цвета из темы
$main-blue-color: #00b2ff;
$main-color-background: #1b2d37;
$main-color-text: #666666;

//Template breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$max-desktop-width: 1600px;

//Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//Template Fonts for BODY
$main-fonts: "PT Mono", "Arial", sans-serif;
$secondary-fonts: "Roboto Condensed", "Arial", sans-serif;
$main-font-size: 16px;
$main-font-weight: 400;
